<% include partials/header %>
    <h1><%= name %></h1>
    <%= summon[name].id %>  </br>
    <%= summon[name].name %> </br>
    <%= summon[name].profileIconId %> </br>
    <%= summon[name].revisionDate %> </br>
    <%= summon[name].summonerLevel %> </br>
<% include partials/footer %>
