<% include partials/header %>
    <h1><%= name %></h1>
    <%= summon.id %>  </br>
    <%= summon.name %> </br>
    <%= summon.profileIconId %> </br>
    <%= summon.revisionDate %> </br>
    <%= summon.summonerLevel %> </br>
<% include partials/footer %>
